USERS_SERVICE_URL=http://localhost:8001
MATCHMAKING_SERVICE_URL=http://localhost:8002
GAME_SERVICE_URL=http://localhost:8003
ANALYSIS_SERVICE_URL=http://localhost:8004
DATABASE_URL=<your_database_url>
REDIS_URL=<your_redis_url>
MONGO_URL=<your_mongo_url>
JWT_SECRET=<your_jwt_secret>
STOCKFISH_PATH=<path_to_stockfish_executable>